<footer class="footer md-5  bg-body-tertiary text-muted p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex p-container justify-content-center">
            <p class="footer-p-text">
                &copy; 2023 Wonder-BnB. 
                <a href="/privacy" class="nav-link d-inline-block mr-2">- Privacy</a>
                <a href="/term" class="nav-link d-inline-block mr-2">- Term</a> 
                
            </p>
        </div>
        
        
        <div class="col-md-6 d-flex justify-content-center">
            <a href="https://www.instagram.com/shantanu.cpp/" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/shantanu-pandey-/" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Shantanu-22" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
      </div>
    </div>
  </footer>

  